@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
  background-color: white;
  color: black;
}
.problem{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20rem;
  height: 14rem;
  font-family: 'Alfa Slab One', cursive;
}
.and-what-about-next-generation {
  width: 20rem;
  background-color: WhiteSmoke;
  color:Grey;
  border-spacing: 0px; /*Removes default distance between cells*/
  margin:auto;
}
.and-what-about-next-generation caption{
  text-transform: uppercase;
  text-align: center;
  color:Black;
}
.and-what-about-next-generation td{
  border: 0px;
  border-spacing: 0px;
  padding-left: 0.5rem;
}
.and-what-about-next-generation td+td {
  text-align: right;
}
.and-what-about-next-generation tr:nth-child(2n){
  background-color: DimGrey;
  color:snow;
}
