/*importera en serif-font och en sans serif från google*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');
/*Sätt font samt standardfärger*/
*{
  font-family: 'Playfair Display', serif;
  color: #F9C8DC;
  background-color: #8E0039;
}

a:link {
 color : #eb5d64 ; /* Röd textf ärg */
 text-decoration : none ; /* Inget understreck */
}
a:visited {
 color : #000000 ; /* Svart textf ärg */
}
a:hover {
 color : #61bda2 ; /* Turkos textf ärg */
}
 a:active {
  background-color : #4dc1e9 ; /* Blå bakgrundsf ärg */
  color : #ffffff ; /* Vit textf ärg */
}
