/*För att se till att alla produktbilder blir lika stora oberoende av
ursprunglig storlek anger vi storleken här*/
.product_img {
  width: 200px;
  height: 175px;
}
/*Vi ger article elementen samma bredd så att det är ungefär like stor ram
runt dem.*/
.product_article {
  width: 280px;
  background-color: lightgray;
}
.product_h3 {
  text-align: center;
}
.product_figure {
  width: 200px;
}
article {
  width: 280px;
  background-color: black;
}