@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');
/* Startkod så att du kan se att kopplingen mellan html-fil och stilmall fungerar.*/
body{
  background-color: lightgray;
  color: black;
}

.image-properties{
  /*width:33vw;*/
}

ul{
  list-style-image : url("red2.png");
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 0.8rem;
  list-style-position: inside;
}

ul ul{
  list-style-image : url("green.png");
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-style:italic;
  font-size: 0.6rem;
  padding-left: 0.8rem;
  list-style-position: inside;
}
div{
  border-style: solid;
  border: 2px;
  border-width: thick;
  border-color: red;
}
div {
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}
