
/* Ange att alla element skall inkludera padding och kantlinje för dimensioner */
* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  color: black;
}

.article-properties {
  display: inline-block; /* Placera det antal element som får plats på en rad */
  vertical-align: top;
  /*float: left;*/
  width: 16rem;
  height: 16rem;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  margin: 0.25rem;
  border: 1px solid black;
  border-radius: 2px;
  background-color: WhiteSmoke;
}

.article-properties>img {
  width: 64px;
  height: 42px;
  float: left;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.article-properties:hover{
  position : relative;
  top: 0.25rem;
  left: 0.25rem;
}

.article-properties>h3 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0.5rem;
}

.article-properties>p {
  margin-top: 0px;
}

/* .article-properties:first-child{
  background-color: red;
  color:yellow;
  border: 2px solid red;
  clear:both;
} */

/* .vegetables:first-child{
  background-color: red;
  color:yellow;
  border: 2px solid red;
  clear:both;
}

.fruit:first-child{
  background-color: red;
  color:yellow;
  clear:both;
}  */




/* *{
  box-sizing: border-box;
} */
/*section{
  font-size: 0px;
}*/
/* img{
  width:64px;
  height:42px;
}

article{
  width:4rem;
  padding:0.5rem;
  margin:1rem;
  border:1px solid black;
  background-color: WhiteSmoke;
} */
  /* width:5.125rem; */
