/*För att se till att alla produktbilder blir lika stora oberoende av
ursprunglig storlek anger vi storleken här*/
.product_img {
  width: 200px;
  height: 175px;
}

.product_figure {
  width: 200px;
}
/*Vi ger article elementen samma bredd så att det är ungefär like stor ram
runt dem.*/
.product_article {
  width: 280px;
  background-color: lightgray;
}
article {
  width: 280px;
  background-color: black;
}
.product_article_2 {
  width: 280px;
  background-color: lightblue;
}
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#orange{
    background-color: orange;
}
#apple{
    background-color: green;
}
#lemon{
    background-color: yellow;
}

.product_h3 {
  text-align: center;
    background-color: red;
}
