/*För att se till att alla bilder blir lika stora oberoende av ursprunglig storlek anger vi storleken här*/
img {
  width: 200px;
  height: 175px;
}
/*Vi ger article elementen samma bredd så att det är ungefär like stor ram runt dem.*/
article {
  width: 280px;
  background-color: lightgray;
}
h3 {
  text-align: center;
}
figure {
  width: 200px;
}